<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.js" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Nodejs" stopProcessing="true">
                    <match url="/index.js" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode devErrorsEnabled="true" loggingEnabled="true" />
    </system.webServer>
</configuration>
