<!-- Header Start -->
<div class="row m-0 head">
    <div class="col-12 headbox">
      <div class="col-2 logo">
        <img class="logo-img" src="../../assets/images/New Logo 2.jpg" alt="Logo">
        <!-- <img class="logo-img" [src]="logoUrl" alt="Logo"> -->
      </div>
      <div class="col-10 text-right">
        <button class="btn whiteBtn mt-3" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
  <!-- Header End -->

  
  <div class="powerbi-container">
    <iframe [src]="iframeSrc" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
  </div>

     <!-- Footer Start -->
  <footer class="row m-0 foot">
    <div class="col-12 footer-text">
        <p class="m-0">&copy; 2024 Harmony Biosciences. All Rights Deserved.</p>
    </div>
  </footer>
  <!-- Footer End -->