/* You can add global styles to this file, and also import other style files */
.btnColor{
    color: #fff !important;
    background-color: #7ac050 !important;
    border-color: #7ac050 !important;
}